{% extends 'layout.html' %} 
{% load crispy_forms_tags %}

{% block title %}
    <title>Sistema Financeiro</title>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info">
                <p><strong>Saldo em Banco:</strong> {{saldo_atual|floatformat:2}}</p>
                <p><strong>Entradas Confirmadas:</strong> {{entradas_confirmadas|floatformat:2}}</p>
                <p><strong>Saídas Confirmadas:</strong> {{saidas_confirmadas|floatformat:2}}</p>
                <p><strong>Entradas Futuras:</strong> {{entradas_futuras|floatformat:2}}</p>
                <p><strong>Saídas Futuras:</strong> {{saidas_futuras|floatformat:2}}</p>
            </div>
        </div>
    </div>

    <!-- Tabela de Receitas -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h4 class="mb-3"><strong>Receitas</strong></h4>
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Status</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for receita in receitas %}
                        <tr>
                            <td>{{receita.id}}</td>
                            <td>{{receita.get_categoria_display}}</td>
                            <td>{{receita.get_status_display}}</td>
                            <td>{{receita.valor}}</td>
                            <td>{{receita.created_at}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tabela de Despesas -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h4 class="mb-3"><strong>Despesas</strong></h4>
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Status</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                {% for despesa in despesas %}
                <tr>
                    <td>{{despesa.id}}</td>
                    <td>{{despesa.get_categoria_display}}</td>
                    <td>{{despesa.get_status_display}}</td>
                    <td>{{despesa.valor}}</td>
                    <td>{{despesa.created_at}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
