{% extends 'layout.html' %}

{% block title %}
   <title>Contas Bancarias</title>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center mt-3 mb-3">Contas</h1>
{% comment %} formulário de busca {% endcomment %}
<form method="GET" action="" class="row g-3 mb-4 p-3 border rounded bg-light">
  <div class="col-md-8">
      <div class="form-group">
          {{ form.nome_banco.label_tag }}
          {{ form.nome_banco }}
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      {{ form.numero_conta.label_tag }}
      {{ form.numero_conta }}
    </div>
  </div>

  <div class="col-md-12 text-end">
      <button type="submit" class="btn btn-primary">Buscar</button>
  </div>
</form>
<button class="btn"><a href="{% url 'conta_bancaria' %}">Criar</a></button>
<table class="table table-bordered">
   <thead>
     <tr>
       <th scope="col">Banco</th>
       <th scope="col">Conta</th>
       <th scope="col">Saldo</th>
       <th scope="col">Data de criação</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for conta in contas %}
     <tr>
       <td>{{conta.nome_banco}}</td>
       <td>{{conta.numero_conta}}</td>
       <td>{{conta.saldo_atual}}</td>
       <td>{{conta.created_at}}</td>
       <td>
           <button class="btn btn-warning"><a href="{% url 'conta_bancaria' conta.id %}">Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'delete_conta_bancaria' conta.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
</div>
{% endblock %}