{% extends 'layout.html' %}

{% block title %}
   <title>Fluxos de Caixa</title>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center mt-3 mb-3">Fluxos de Caixa</h1>
<button class="btn"><a href="{% url 'fluxo_caixa' %}">Criar</a></button>
<table class="table table-bordered">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">Data Inicial</th>
       <th scope="col">Data Final</th>
       <th scope="col">Criado Em</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for fluxo_caixa in fluxo_caixas %}
     <tr>
       <td>{{fluxo_caixa.id}}</td>
       <td>{{fluxo_caixa.data_inicial}}</td>
       <td>{{fluxo_caixa.data_final}}</td>
       <td>{{fluxo_caixa.created_at}}</td>
       <td>
           <button class="btn"><a href="{% url 'show_fluxo_caixa_one' fluxo_caixa.id %}">Ver</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'delete_fluxo_caixa' fluxo_caixa.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
</div>
{% endblock %}